	:root {
		--bar-height: 60px;
	}

	body {
		overflow: hidden;
		height: 100vh;
		margin: 0;
	}

	.bar {
		position: fixed;
		top: 0;
		width: 100vw;
    min-width: 500px;
		height: var(--bar-height);
		background: #ddd;
		border-bottom: 1px solid #666;
		overflow: hidden;
    padding: 8px;
	}

	.navigator {
		width: 100vw;
		height: calc(100vh - var(--bar-height));
		position: absolute;
		top: var(--bar-height);
	}

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100vw - 8px);
    overflow: hidden;
  }